<div class="card single-card-container custom-container">
<header>
	<h1>Welcome to Fett</h1><br>
	<span class="sub-heading">Awesome description goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A optio alias cupiditate dolores ullam? Facilis molestias laboriosam quasi asperiores nihil dignissimos, itaque dolorem perferendis.</span>
</header>
	<div class="row col-container">
		<a href="<%= new_job_path %>" class="col-md-6 border-right"><h2 class="with-pseudo">Hire</h2></a>
		<a href="<%= new_resume_path %>" class="col-md-6"><h2>Get Hired</h2></a>
	</div>
	<section class="sign-in-module">
	<span class="sub-heading">Sign up or Sign up using Github.</span><br>
	<span class="sub-heading">Already a member? <b>Click here.</b></span>
	</section>
</div>