$offwhite: #f9f9f9
$dark_grey: #5e5e5e 
$cyan: #00bcd4


body
	background-color: $offwhite
	color: $dark_grey


input, textarea
	width: 100%
	margin-bottom: 24px
	border: 2px solid white
	background-color: transparent

.navbar
	background-color: #bdc3c7

.navbar-default
	border-bottom: 2px solid #f5f5f5


// Navigation



.navbar-default
	background-color: $cyan
	.navbar-brand
		color: white
	.navbar-nav li a
		color: white





// Cards



.card
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2)
	border-radius: 2px
	background-color: white



