
$offwhite: #f9f9f9
$dark_grey: #5e5e5e 
$cyan: #00bcd4
$orange: #f39c12


body
  background-color: $offwhite
  color: $dark_grey


input, textarea
  width: 100%
  margin-bottom: 24px
  border: 2px solid white
  background-color: transparent

// Navigation

.navbar
  margin-bottom: 0px
  border: 0px !important

.navbar-default
  background-color: $orange
  border-radius: 0px
  .navbar-brand
    color: white
  .navbar-nav li a
    color: white

.navbar-default
  border-bottom: 2px solid #f5f5f5

.secondary-nav
  background-color: #eee
  margin-bottom: 24px

.secondary-nav li a
  color: $dark_grey !important
  font-weight: 500

.secondary-nav
  height: 270px


// Cards

.single-card-container
  position: relative
  top: -178px
  // position: relative
  // top: -123px

.card
  padding: 24px
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2)
  border-radius: 2px
  background-color: white
  margin-bottom: 24px

.custom-container
  padding: 0px

// Flash messages

.notice
  position: absolute
  width: 100%
  background-color: rgba(0, 205, 0, 0.55)
  z-index: 100
  padding: 24px
  border-radius: 0px
  top: 105px
  p
    font-size: 60px
    color: white
    margin: 0


header
  padding: 60px 24px 48px 24px
  border-bottom: 1px solid #eee
  text-align: center
  h1
    display: inline-block
    margin-bottom: 18px
    padding-bottom: 2px
    border-bottom: 6px solid #f39c12  

.border-right
  border-right: 1px solid #eee

.col-container
  text-align: center
  border-bottom: 1px solid #eee
  margin: 0px
  .col-md-6
    padding: 120px 0
    &:hover
      background-image: image-url("food.png")

.sub-heading b
  color: #f39c12   

.sign-in-module
  padding: 48px 24px
  text-align: center