
// General


a:hover
  text-decoration: none


// Forms

*:focus
  outline: none

.form-control
  background: transparent
  border: none

.form-control:focus
  -webkit-box-shadow: none !important
  box-shadow: none !important

