<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  	<div class="navbar-header">
      <a class="navbar-brand" href="#">Boba Fett</a>
    </div> 
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Jobs', jobs_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to current_user.email, profile_path %>
          </li>
          <li>
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>        
          </li>
        <% else %>
          <li>
          <%= link_to 'Sign in', new_user_session_path %>  
          </li>
        <% end %>
      </ul>

    
  </div>
</nav>